General rules:
    Don't write any comments automatically. Just write when we're asking about it.

GasInSight.App (typescript)
    Use rules in GasInSight.App/.windsurfrules

GasInSight.Hub (python)
    Use rules in GasInSight.Hub/.windsurfrules

GasInSight.Server (python)
    Use rules in GasInSight.Server/.windsurfrules

