FastApi application

For database use sqlalchemy and alembic for migrations
Use pydantic for every model
Everything should be typed, but don't use deprecated typing module. Use list, dict instead of list, dict

Project files should follow following structure:
    ./alembic* - all related to alembic files
    ./app/main.py - root of the application.
    ./app/database.py - database connection and session management
    ./app/config.py - all configs from env should be here in pydantic class, exported as settings
    ./app/models/ - all db models. all columns should be defined using mapped_column and be typed
    ./app/cruds/ - all db operations should be here, for each model represented in separate Crud class. There should be CrudBase class that contains basic logic, and all specific Crud classes should be inherited from it.
    ./app/schemas/ - all pydantic schemas that are used by Cruds or endpoints should be here
    ./app/services/ - all business logic should be there, such as calculations, data aggregations
    ./app/websockets/ - all websocket logic should be here
    ./app/listeners/ - all Azure service bus listeners should be here
    ./app/routers/ - all routers, separate route for each model

Domain models definition is located in ./rules/models.rules
Features description is located in ./rules/features.rules
    